<ul>
{{#each birds}}
<li>{{@key}}, {{this}}</li>
{{/each}}
</ul>

<form method="GET" action="">
    filter by number: <input type="number" name="name">
    <input type="submit">
</form>
<form method="POST" action="">
    new bird name: <input type="text" name="name">
    <input type="submit" value="add">
</form>