<h3>Sightings</h3>

<ul>
{{#each birds}}
<li>{{this}} x {{@key}}</li>
{{/each}}
</ul>


<form method="POST" action="/birds">
    new bird name: <input type="text" name="birdName">
    <input type="submit" value="add">
</form>

<p>Back to <a href="/">home page</a> or change the <a href="/settings">settings</a></p>