<h1>Current filter value is: {{currMin}}<h1>
  
  <form method="POST" action="/settings">
    filter by number: <input type="number" name="newMin">
    <input type="submit">
</form>
  
  
  <br><br>
  <p>See the <a href="/birds">list</a> or back to the <a href="/">home page</a></p>